USE [TestDemo]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnLeadingZeros]    Script Date: 02/23/2017 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnLeadingZeros](
@Value int
) 
RETURNS varchar(8) 
WITH SCHEMABINDING 
AS 

BEGIN
DECLARE @ReturnValue varchar(8);
SET @ReturnValue = CONVERT(varchar(8), @Value);
SET @ReturnValue = REPLICATE('0', 8 - DATALENGTH(@ReturnValue)) + @ReturnValue;
RETURN (@ReturnValue);
END;
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 02/23/2017 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PersonID] [int] NULL,
	[StoreID] [int] NULL,
	[TerritoryID] [int] NULL,
	[AccountNumber]  AS (isnull('AW'+[dbo].[ufnLeadingZeros]([CustomerID]),'')),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BankAcount]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAcount](
	[AcountId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[TotalBalance] [decimal](12, 2) NULL,
 CONSTRAINT [PK_BankAcount] PRIMARY KEY CLUSTERED 
(
	[AcountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cities]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cities](
	[cityID] [int] NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[stateID] [int] NOT NULL,
	[countryID] [varchar](3) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countries]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countries](
	[countryID] [varchar](3) NOT NULL,
	[countryName] [varchar](52) NOT NULL,
	[localName] [varchar](45) NOT NULL,
	[webCode] [varchar](2) NOT NULL,
	[region] [varchar](26) NOT NULL,
	[continent] [varchar](15) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[surfaceArea] [float] NOT NULL,
	[population] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DateRange]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateRange](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NULL,
	[Todate] [datetime] NULL,
 CONSTRAINT [PK_DateRange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeoLocation]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoLocation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GeoLocationAddress] [nvarchar](500) NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longiude] [nvarchar](50) NULL,
 CONSTRAINT [PK_GeoLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[states]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[states](
	[stateID] [int] NOT NULL,
	[stateName] [varchar](50) NOT NULL,
	[countryID] [varchar](3) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[studentName] [nvarchar](50) NULL,
	[studentAge] [int] NULL,
	[studentAddress] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
	[ClassId] [int] NULL,
	[Standard] [int] NULL,
	[Photo] [nvarchar](300) NULL,
	[hobby] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](5) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_StudentClass] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDesignation]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDesignation](
	[DesignationId] [bigint] IDENTITY(1,1) NOT NULL,
	[DesName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDesignation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmpId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[EmpAddress] [nvarchar](max) NULL,
	[EmpGender] [varchar](10) NULL,
	[EmpHobby] [nvarchar](50) NULL,
	[EmpDesignation] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[DeletedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[EmpEmail] [nvarchar](100) NULL,
	[EmpImage] [nvarchar](200) NULL,
	[Birthdate] [datetime] NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblHobby]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHobby](
	[HobbyId] [bigint] IDENTITY(1,1) NOT NULL,
	[HName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblHobby] PRIMARY KEY CLUSTERED 
(
	[HobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSlider]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSlider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[SImage] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_tblSlider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 02/23/2017 10:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcountId] [bigint] NULL,
	[Type] [nchar](10) NULL,
	[Amount] [decimal](12, 2) NULL,
	[AvailBalance] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BankAcount] ON 

INSERT [dbo].[BankAcount] ([AcountId], [Name], [TotalBalance]) VALUES (1, N'ujval', CAST(11500.00 AS Decimal(12, 2)))
INSERT [dbo].[BankAcount] ([AcountId], [Name], [TotalBalance]) VALUES (2, N'Ronak', CAST(100.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[BankAcount] OFF
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (7, N'Mountain View', 5, N'USA', 37.42, -122.06)
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (8, N'Beijing', 6, N'CHN', 39.93, 116.39)
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (11, N'Ackworth', 9, N'USA', 41.36, -93.43)
GO
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'BRA', N'Brazil', N'Brasil', N'BR', N'South America', N'South America', -10, -55, 8547403, 170115000)
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'CHN', N'China', N'Zhongquo', N'CN', N'Eastern Asia', N'Asia', 35, 105, 9572900, 1277558000)
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'FRA', N'France', N'', N'FR', N'Western Europe', N'Europe', 47, 2, 551500, 59225700)
SET IDENTITY_INSERT [dbo].[DateRange] ON 

INSERT [dbo].[DateRange] ([Id], [FromDate], [Todate]) VALUES (1, CAST(0x0000A69400000000 AS DateTime), CAST(0x0000A69500000000 AS DateTime))
INSERT [dbo].[DateRange] ([Id], [FromDate], [Todate]) VALUES (10002, CAST(0x0000A6DB00000000 AS DateTime), CAST(0x0000A6DC00000000 AS DateTime))
INSERT [dbo].[DateRange] ([Id], [FromDate], [Todate]) VALUES (10003, CAST(0x0000A70D00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[DateRange] OFF
SET IDENTITY_INSERT [dbo].[GeoLocation] ON 

INSERT [dbo].[GeoLocation] ([Id], [GeoLocationAddress], [Latitude], [Longiude]) VALUES (1, N'Gujarat, India', N'22.258652', N'71.19238050000001')
INSERT [dbo].[GeoLocation] ([Id], [GeoLocationAddress], [Latitude], [Longiude]) VALUES (2, N'Ahmedabad, Gujarat, India', N'23.022505', N'72.57136209999999')
INSERT [dbo].[GeoLocation] ([Id], [GeoLocationAddress], [Latitude], [Longiude]) VALUES (11, N'Asda Beckton Superstore, Tollgate Road, London, United Kingdom', N'51.5147501', N'0.05839560000003985')
SET IDENTITY_INSERT [dbo].[GeoLocation] OFF
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (5, N'California', N'USA', 37.42, -122.06)
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (6, N'Beijing', N'CHN', 39.93, 116.39)
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (9, N'Iowa', N'USA', 43.03, -96.09)
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([studentId], [studentName], [studentAge], [studentAddress], [BirthDate], [ClassId], [Standard], [Photo], [hobby]) VALUES (2, N'test1', 50, N'asdsad12321', CAST(0xA10E0B00 AS Date), 2, 12, N'/Upload/636233885012821824.jpg', N'Reading')
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentClass] ON 

INSERT [dbo].[StudentClass] ([ClassId], [Class], [Description]) VALUES (1, N'A', N'Class A')
INSERT [dbo].[StudentClass] ([ClassId], [Class], [Description]) VALUES (2, N'B', N'Class B')
INSERT [dbo].[StudentClass] ([ClassId], [Class], [Description]) VALUES (3, N'C', N'Class C')
SET IDENTITY_INSERT [dbo].[StudentClass] OFF
SET IDENTITY_INSERT [dbo].[tblDesignation] ON 

INSERT [dbo].[tblDesignation] ([DesignationId], [DesName]) VALUES (1, N'SR')
INSERT [dbo].[tblDesignation] ([DesignationId], [DesName]) VALUES (2, N'JR')
INSERT [dbo].[tblDesignation] ([DesignationId], [DesName]) VALUES (3, N'MANAGER')
SET IDENTITY_INSERT [dbo].[tblDesignation] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmpId], [EmpName], [EmpAddress], [EmpGender], [EmpHobby], [EmpDesignation], [IsDelete], [IsActive], [DeletedDate], [CreatedDate], [ModifiedDate], [EmpEmail], [EmpImage], [Birthdate]) VALUES (1, N'ujval', N'ahmedabad', N'Male', N'1,5,7', 5, 0, 1, NULL, CAST(0x0000A6640128E5D0 AS DateTime), CAST(0x0000A6640128E70C AS DateTime), N'ujjvalk@gmail.com', N'/Upload/636073105202394698.jpg', CAST(0x0000827700000000 AS DateTime))
INSERT [dbo].[tblEmployee] ([EmpId], [EmpName], [EmpAddress], [EmpGender], [EmpHobby], [EmpDesignation], [IsDelete], [IsActive], [DeletedDate], [CreatedDate], [ModifiedDate], [EmpEmail], [EmpImage], [Birthdate]) VALUES (2, N'tqwwqe', N'sdaasd', N'Female', N'1,2,3', 4, 0, 1, NULL, CAST(0x0000A6640133C91E AS DateTime), CAST(0x0000A6640133C91E AS DateTime), N'tqwwqe@tqwwqe.in', N'/Upload/636073105726759964.jpg', CAST(0x00006EC500000000 AS DateTime))
INSERT [dbo].[tblEmployee] ([EmpId], [EmpName], [EmpAddress], [EmpGender], [EmpHobby], [EmpDesignation], [IsDelete], [IsActive], [DeletedDate], [CreatedDate], [ModifiedDate], [EmpEmail], [EmpImage], [Birthdate]) VALUES (3, N'ronak', N'Gota', N'Male', N'1,2,3', 6, 1, 1, CAST(0x0000A6A600C8036C AS DateTime), CAST(0x0000A66401357305 AS DateTime), CAST(0x0000A66401357305 AS DateTime), N'Ronak@test.co', N'/Upload/636073105012436828.jpg', CAST(0x000084D000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
SET IDENTITY_INSERT [dbo].[tblHobby] ON 

INSERT [dbo].[tblHobby] ([HobbyId], [HName]) VALUES (1, N'Music')
INSERT [dbo].[tblHobby] ([HobbyId], [HName]) VALUES (2, N'Cricket')
INSERT [dbo].[tblHobby] ([HobbyId], [HName]) VALUES (3, N'Football')
SET IDENTITY_INSERT [dbo].[tblHobby] OFF
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([RoleId], [Name], [Description]) VALUES (4, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[tblRole] OFF
SET IDENTITY_INSERT [dbo].[tblSlider] ON 

INSERT [dbo].[tblSlider] ([SliderId], [SImage], [IsActive], [IsDelete]) VALUES (18, N'/Upload/Slider/636078082698131422.png', 1, 0)
INSERT [dbo].[tblSlider] ([SliderId], [SImage], [IsActive], [IsDelete]) VALUES (19, N'/Upload/Slider/636078082887451178.png', 1, 0)
INSERT [dbo].[tblSlider] ([SliderId], [SImage], [IsActive], [IsDelete]) VALUES (20, N'/Upload/Slider/636078084566314935.png', 1, 0)
SET IDENTITY_INSERT [dbo].[tblSlider] OFF
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionId], [AcountId], [Type], [Amount], [AvailBalance]) VALUES (2, 1, N'Debit     ', CAST(500.00 AS Decimal(12, 2)), CAST(6500.00 AS Decimal(12, 2)))
INSERT [dbo].[Transaction] ([TransactionId], [AcountId], [Type], [Amount], [AvailBalance]) VALUES (3, 1, N'Credit    ', CAST(100.00 AS Decimal(12, 2)), CAST(6400.00 AS Decimal(12, 2)))
INSERT [dbo].[Transaction] ([TransactionId], [AcountId], [Type], [Amount], [AvailBalance]) VALUES (4, 1, N'Credit    ', CAST(1000.00 AS Decimal(12, 2)), CAST(5400.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__cities__66F2B3B997F3D491]    Script Date: 02/23/2017 10:40:22 ******/
ALTER TABLE [dbo].[cities] ADD UNIQUE NONCLUSTERED 
(
	[countryID] ASC,
	[stateID] ASC,
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__countrie__0756ED8CAF37E283]    Script Date: 02/23/2017 10:40:22 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[countryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__countrie__B1F47F05AF8F87C5]    Script Date: 02/23/2017 10:40:22 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[webCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__states__DB990C0BEB836ACF]    Script Date: 02/23/2017 10:40:22 ******/
ALTER TABLE [dbo].[states] ADD UNIQUE NONCLUSTERED 
(
	[countryID] ASC,
	[stateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_StudentClass] FOREIGN KEY([ClassId])
REFERENCES [dbo].[StudentClass] ([ClassId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_StudentClass]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_BankAcount] FOREIGN KEY([AcountId])
REFERENCES [dbo].[BankAcount] ([AcountId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_BankAcount]
GO
