@model TestDemo.Models.CustomModels.SliderModel

<input type="hidden" value="@ViewBag.Successmessage" id="SuccessMessage" />
<table id="example" class="display example table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center;">Image</th>
            <th style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.sliderList)
        {
            <tr>
               
                <td style="text-align:center;"><img src="@item.SImage" width="100px" height="50px" /></td>
                <td style="text-align:center;">
                    @Ajax.ActionLink(" ", "Edit", new { id = item.SliderId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "_Form", OnSuccess = "scrolltop();", OnComplete = "edit();" }, new { @Class = "btn btn-info glyphicon glyphicon-edit icon-white", @id = "btnedit" })

                    <a onclick="DeleteRecords('@item.SliderId', 'Y') " href="javascript:;" class="btn btn-danger glyphicon glyphicon-trash icon-white"></a>
                </td>
            </tr>
        }

    </tbody>
</table>

